@import "base";
/* element-ui */
.el-button--primary{
  background-color: $baseColor;
  border-color: $baseColor;
}
.el-button--primary:focus,
.el-button--primary:hover{
  background-color: $baseHoverColor;
  border-color: $baseHoverColor;
}
.el-button--text{color: $baseColor;}
.el-button--text:focus,
.el-button--text:hover{
  color: $baseHoverColor;
}
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner{ /* 多选框选中颜色 */
  background-color: $baseColor;
  border-color: $baseColor;
}
.el-checkbox__input.is-checked+.el-checkbox__label{color: $baseColor;} /* 多选框选中文字颜色 */
.el-button.is-disabled,
.el-button.is-disabled:focus,
.el-button.is-disabled:hover,
.el-input.is-disabled .el-input__inner,
.el-pagination button:disabled,
.el-radio__input.is-disabled .el-radio__inner,
.el-radio__input.is-disabled+span.el-radio__label{cursor: default;} /* 禁用手型 */
.el-table__header th{ /* 表格头颜色 */
  height: 50px;
  background: #FAFAFA;
}
